* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Шапка сайта */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.header-right input {
    padding: 5px;
    font-size: 14px;
}

.cart {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

/* Баннер */
.banner {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.banner h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Категории */
.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.category {
    text-align: center;
}

.category img {
    width: 100px;
    height: auto;
    justify-content: space-between;
}

.category h3 {
    margin-top: 10px;
    font-size: 18px;
}

/* Популярные товары */
.popular-products {
    margin-top: 50px;
    text-align: center;
}

.popular-products h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.product {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    margin-bottom: 15px;
}

.product button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .footer-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
